doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/font-mfizz-2.4.1/font-mfizz.css')
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    
    <link href="/startbootstrap-resume-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/startbootstrap-resume-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    link(rel="stylesheet", href="http://weloveiconfonts.com/api/?family=zocial")
    link(rel="stylesheet", href="http://weloveiconfonts.com/api/?family=fontawesome")

    <!-- Custom styles for this template -->
    <link href="/startbootstrap-resume-gh-pages/css/resume.min.css" rel="stylesheet">
  
  body#page-top
    block content

     <!-- Footer Section->
    <div class="footer row">
      <div class="col-sm-4"><a href="mailto:hobdy.chris02@gmail.com"><i class="fas fa-phone"></i> Contact me</a>&#x26AC; hobdy.chris02@gmail.com</div>
      <div class="col-sm-4"><a href="../startbootstrap-resume-gh-pages/img/ThompsonTechResume.docx" class="button"><i class="fa fa-download"></i>Download</a> Resume</div>
      <div class="col-sm-4">&copy 2019 CRFullStack</div>
    </div>
     <!-- Bootstrap core JavaScript -->
    <script src="/startbootstrap-resume-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="/startbootstrap-resume-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/startbootstrap-resume-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/startbootstrap-resume-gh-pages/js/resume.min.js"></script>
